<div class="st-navbar-desktop">
    <div class="container">
        <div class="st-navbar-desktop-logo">
            <a class="st-navbar-desktop-logo-link" title="Logo" href="/" style="margin-left: 90px;">ArtHub</a>
        </div>
        <nav class="st-navbar-desktop-menu" role="navigation" style="margin-top: 5px;">
            <ul id="st-navbar-desktop-menu-nav" class="sf-menu">
                <li><a href="/paintings" style="margin-right: 50px;">Paintings</a></li>
                <li><a href="/sketches" style="margin-right: 50px;">Sketches</a></li>
                <li><a href="/sculptures" style="margin-right: 50px;">Sculptures</a></li>
                <li><a href="/artists" style="margin-right: 50px;">Artists</a></li>
                <li><a class="nav-link" href="/api/cart" style="margin-right: 50px;"><i
                            class="fa-light fa-cart-shopping fa-lg"></i></a></li></a></li>
            </ul>
            </ul>
        </nav>
    </div>
</div>