<div class="st-navbar-desktop">
    <div class="wrapper">
        <div class="multi_color_border"></div>
        <div class="top_nav">
            <div class="left">
                <div class="logo">
                    <a class="st-navbar-desktop-logo-link" title="Logo" href="/">
                        <p><span>ArtHarbour</span></p>
                    </a>
                </div>
                <div class="search_bar">
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <div class="right">
                <ul>
                    <li><a href="/community" style="text-decoration: none;">Community</a></li>
                    <li><a href="/buy" style="text-decoration: none;">Buy</a></li>
                    <li><a href="/sell" style="text-decoration: none;">Sell</a></li>
                    <li><a href="/cart"><span><i class="fa-solid fa-cart-shopping"></i></span></a></li>
                    <% if(!currentUser) {%>
                        <li><a href="/user/login" style="text-decoration: none;">Login</a></li>
                        <li><a href="/user/register" style="text-decoration: none;">Signup</a></li>
                        <% } else {%>
                            <li><a href="/user/logout" style="text-decoration: none;">Logout</a></li>
                            <% } %>
                </ul>
            </div>
        </div>
        <div class="bottom-nav">
            <ul>
                <li><a href="/paintings" style="text-decoration: none;">Paintings</a></li>
                <li><a href="/sculptures" style="text-decoration: none;">Sculptures</a></li>
                <li><a href="/sketches" style="text-decoration: none;">Sketches</a></li>
                <li><a href="/artists" style="text-decoration: none;">Artists</a></li>
                <li><a href="/gallery" style="text-decoration: none;">Galleries</a></li>
            </ul>
        </div>
    </div>
</div>